h1 {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 3em;
    /* Additional styles for the title go here */
  }

  .centered-text {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    position: absolute;
    top: 30%;
    right: 25%;
    transform: translate(0%, 0%);
}  

.time-div {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    position: absolute;
    top: 35%;
    right: 25%;
    transform: translate(0%, 0%);
}

.divider {
    border: 1px solid #ccc; /* Adjust the color and thickness as needed */
    margin: 20px 0; /* Adjust the margin as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.catchphrase {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    position: absolute;
    top: 2%;
    right: 2%;
    color: #78909C;
    transform: translate(0%, 0%);
}

path {
    fill: #CCCCCC; /* Default color */
    transition: fill 0.3s; /* Smooth transition for color change */
  }

  path:hover {
    fill: #FF0000; /* Change to your desired hover color */
  }

  .tooltip {
    position: absolute;
    background-color: #333;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none; /* Ensure the tooltip does not interfere with mouse events on the map */
  }

  .map-container {
    width: 35%;
    height: 75vh;
    position: absolute;
    left: 25%; /* Adjust the left value based on your needs */
    top: 25%;  /* Adjust the top value based on your needs */
}

.dark-mode-toggle {
    font-family: 'Geologica', sans-serif;
    position: absolute;
    font-size: x-large;
    color: #78909C;
    left: 65%;
    top: 5%
  }

  .dark-mode {
    background-color: #121212; /* Dark mode background color */
    color: #ffffff; /* Dark mode text color */
  }
  
  /* Adjust SVG color for dark mode */
  .dark-mode path {
    fill: #ffffff; /* White fill for SVG in dark mode */
  }
  
  .dark-mode-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .toggle-container {
    width: 50px;
    height: 24px;
    background-color: #dddddd; /* Background color of the toggle switch */
    border-radius: 12px; /* Round corners to make it look like a switch */
    position: relative;
    margin-right: 10px; /* Adjust as needed */
  }
  
  .toggle-ball {
    width: 20px;
    height: 20px;
    background-color: #ffffff; /* Color of the toggle ball */
    border-radius: 50%; /* Round ball to make it look like a switch */
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
  }
  
  .dark-mode .toggle-ball {
    transform: translateX(26px); /* Move the ball to the right for dark mode */
  }
  
  .dark-mode .toggle-container {
    background-color: #800080; /* Change toggle switch color in dark mode */
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #f1f1f1;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}